#cloud-config
# vim:syntax=yaml

users:
  - name: $USER
    plain_text_passwd: $PASSWORD
    ssh-authorized-keys:
      - $SSH_KEY
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: False
    shell: /bin/bash

runcmd:
  - echo 'PermitRootLogin no' > /etc/ssh/sshd_config.d/99-no-root-login.conf
  - echo 'AllowUsers $USER' > /etc/ssh/sshd_config.d/90-allowed-users.conf
  - echo 'PasswordAuthentication yes' > /etc/ssh/sshd_config.d/10-allow-password-auth.conf
  - systemctl restart sshd
